<h2>Add a new Image</h2>
<%= simple_form_for @image do |form| %>
  <%= form.input :url, label: 'Image url' %>
  <%= form.input :tag_list, label: 'Tags'%>
  <%= form.submit 'Save Image', class: "btn btn-primary" %>
<% end %>
