<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<p>
  <h3>Image URL:</h3>
  <%= image_tag @image.url %>
</p>
<%= link_to 'All Images', images_path %>
<%= link_to 'New Image', new_image_path %>

